body {
    background-color: #777;
    color: #ebebeb;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

#header {
    background-color: #ebebeb;
    text-align: center;
    margin: 10px 0;
    height: 60px;
    padding-top: 36px;
    color: #777
}

#nav {
    background-color: #ebebeb;
    text-align: center;
    margin: 10px 0;
    height: 60px;
    padding-top: 36px;
    color: #777
}
#section {
    background-color: #ebebeb;
    text-align: center;
    margin: 10px 0;
    height: 100%;
    padding-top: 36px;
    width: 495px;
    color: #777;
    position: absolute;

}
#aside {
    background-color:#ebebeb;
    text-align: center;
    margin: 10px 0;
    height: 100%;
    padding-top: 36px;
    width: 450px;
   color: #777;
    position: absolute;
    right:0;
}
#footer {
    background-color: #ebebeb;
    text-align: center;
    margin: 10px 0;
    height: 60px;
    width: 100%;
    padding-top: 36px;
    color: #777;
    margin-top: 67px;
}
#article {
    position: absolute;
    width: 480px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color:#777;
    color: #ebebeb;
    margin: 20px auto;
    height: 150px;
    padding-top: 10px;
    
}
#h1h2h3 {
    position: absolute;
    background-color: #ebebeb;
    height: 35px;
    width: 440px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #777;
    padding-top: 12px;
    margin-top: 10px;
}
#p {
    position: absolute;
    background-color:#ebebeb;
    height: 35px;
    width: 440px;
    top: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #777;
    padding-top: 12px;
    margin-top: 10px;
}
.twoBoxes{
    position: relative;
    height: 210px;
}
.wrap {
    width: 960px;
    margin: 0 auto;
}